<div class="flex direction-column w-full align-center">
  <div class="h-change-28-48 align-center">
    <div class="blue" *ngIf="hideMessage2 && hideMessage3">Example: The HEAD points to the branch "main"</div>
    <div class="green" *ngIf="!hideMessage2 && !hideMessage">The HEAD points to the branch "bug/25282"</div>
    <div class="green pl-32 pr-32 text-center" *ngIf="!hideMessage3 && !hideMessage">A new branch is created (a copy of
      "main") and the HEAD points to it.</div>
  </div>
  <div class="flex pt-16">
    <div class="pr-8"></div>
    <mat-form-field class="w-full stash-field" appearance="fill">
      <mat-label float="never">Choose an option</mat-label>
      <mat-select [disabled]="disableOption" (selectionChange)="selectCommand($event.value)">
        <mat-option *ngFor="let command of commands" [value]="command.name">{{command.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="pr-16"></div>
    <button mat-fab [disabled]="!enableReload" (click)="ngOnInit()" mat-raised-button color="warn"><span>Reload</span></button>
  </div>
  <section class="flex flex-direction-change align-center">
    <button *ngIf="chosenCommand === 'checkout an existing branch'" [disabled]="!hideMessage"
      (click)="visualizeCheckout()" class="w-300" mat-raised-button color="warn">Visualize "git checkout
      bug/25282"</button>
    <div class="pr-8 pb-8"></div>
    <button *ngIf="chosenCommand === 'create and checkout a new branch'" [disabled]="!hideMessage"
      (click)="visualizeCheckoutNew()" class="w-300" mat-raised-button color="warn">Visualize "git checkout -b
      version_2.0"</button>
    <div class="pr-8 pb-8"></div>
  </section>


  <div class="flex direction-column">
    <div class="flex pr-2 pt-32 h-25 align-center">
        <div class="pr-4" [ngClass]="{'hide': hideMessage2, 'fade-in-arrow-2': !hideMessage2}">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
        </div>
      <div class="pr-8" [ngClass]="{'pl-28': hideMessage2}">bug/25282</div>
    </div>
    <div class="flex h-25 align-center">
      <div class="pr-4" [ngClass]="{ 'fade-out-arrow ': !hideMessage2, 'fade-out-arrow-2': !hideMessage3}">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
      </div>
      <div class="pr-8">main</div>
    </div>
    <div class="flex pr-2 pl-20 h-27 align-center justify-center">
      <div class="pr-8">pbi/25391</div>
    </div>
    <div class="flex pr-2 h-25 align-center justify-center">
      <div class="pr-4" [ngClass]="{'hide': hideMessage3, 'fade-in-arrow-2': !hideMessage3}">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
      </div>
      <div class="pr-8" [ngClass]="{'hide': hideMessage3, 'fade-in-version': !hideMessage3 }">version_2.0</div>
    </div>
  </div>
</div>