

.mt-up {
    margin-top: -10px;
}

.h-25 {
    height: 25px;
}

.h-27 {
    height: 27px;
}

.border-red {
    border: 1px solid red;
}

.pt-14 {
    padding-top: 14px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-28 {
    padding-left: 28px;
}

.image-size-arrow {
    width: 10px;
    height: 10px;
}

.opacity-zero {
    color: white;
}

.fade-out-arrow {
    animation: fade-out-arrow .5s linear;
    animation-fill-mode: forwards;
}

.fade-out-arrow-2 {
    animation: fade-out-arrow-2 1s linear;
    animation-fill-mode: forwards;
}

.fade-in-arrow {
    animation: fade-in-arrow 4s linear;
    animation-fill-mode: forwards;
}

.fade-in-arrow-2 {
    animation: fade-in-arrow-2 1.5s linear;
    animation-fill-mode: forwards;
}
.fade-in-version{
    animation: fade-in-version 2s linear;
    animation-fill-mode: forwards;
}



@keyframes fade-out-arrow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} 

@keyframes fade-out-arrow-2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} 
@keyframes fade-in-arrow {
    0% {
        opacity: 0;
        color: white;
    }
    100% {
        opacity: 1;
        color: black;
    }
} 

@keyframes fade-in-arrow-2 {
    0% {
        opacity: 0;
        color: white;
    }
    50% {
        opacity: 0;
        color: white;
    }

    100% {
        opacity: 1;
        color: black;
    }
} 

