<div class="flex direction-column w-full align-center">
  <div class="blue h-change-checkout align-center" >
    <div *ngIf="hideMessage2 && hideMessage3" >Example: The HEAD points to the branch "main"</div>  
    <div *ngIf="!hideMessage2 && !hideMessage" >The HEAD points to the branch "bug/25282"</div>  
    <div class="pl-32 pr-32 text-center" *ngIf="!hideMessage3 && !hideMessage">A new branch is created (a copy of "main") and the HEAD points to it.</div>  
  </div>
  <section class="flex flex-direction-change align-center">
    <button [disabled]="!hideMessage" (click)="visualizeCheckout()" class="w-300" mat-raised-button color="warn">Visualize "git checkout bug/25282"</button>
    <div class="pr-8 pb-8"></div>
    <button [disabled]="!hideMessage" (click)="visualizeCheckoutNew()" class="w-300" mat-raised-button color="warn">Visualize "git checkout -b version_2.0"</button>
    <div class="pr-8 pb-8"></div>
    <button mat-fab [disabled]="!showReset" (click)="reset()" mat-raised-button color="warn"><span>Reset</span></button>
  </section>
  
  <div class="flex direction-column">
    <div class="flex pr-2">
      <div class="font-size-32 pt-16 mt-4 pr-4 white">&#10132;</div> <!--arrow right-->
      <div class="pt-32 pr-8">bug/25282</div>
    </div>
    <div class="flex pr-2">
      <div class="font-size-32 pr-4" 
      [ngClass]="{'move-up-fast': !hideMessage2, 'move-down-fast': !hideMessage3 }">&#10132;</div> <!--arrow right-->
      <div class="mt-8 pr-8">main</div>
    </div>
    <div class="flex pr-2">
      <div class="font-size-32 pr-2 white">&#10132;</div> <!--arrow right-->
      <div class="mt-8 pr-8">pbi/25391</div>
    </div>
    <div class="flex pr-2">
      <div class="font-size-32 pr-2 white">&#10132;</div> <!--arrow right-->
      <div class="mt-8 pr-8" [ngClass]="{'hide': hideMessage3, 'show-fadeIn': !hideMessage3 }">version_2.0</div>
    </div>
  </div>
</div>