<div class="flex direction-column w-full align-center">
  <div class="flex direction-column align-center justify-center">
    <div class=" h-change-28-48 pb-change-16-32">
      <div class="blue" [ngClass]="{'hide': !hideMessage, 'show': hideMessage}">Example: the user has main branch checked out</div>
      <div class="green flex direction-column pl-32 pr-32 max-w-450" [ngClass]="{'hide': hideMessage, 'show-slow-fadeIn text-center': !hideMessage}">
        The main branch is updated with the latest commits from the feature branch.
        (A merge conflict may need to be resolved.)
      </div>
    </div>
    <div class="flex">
      <button [disabled]="!hideMessage" (click)="visualizeMerge()" class="w-250" mat-raised-button color="warn">Visualize "git merge feature"</button>
      <div class="pr-16"></div>
      <button mat-fab [disabled]="!enableReload" (click)="ngOnInit()" mat-raised-button color="warn"><span>Reload</span></button>
      <div class="pr-8"></div>
    </div>
  </div>
 <div class="flex pt-32 w-full justify-center"> 
    <section class="flex direction-column pr-16"> 
      <div class="pb-8 pl-16 bold text-center">feature branch </div>
      <div class="flex">
        <div class="flex direction-column pt-36">
          <div class="flex align-center">
            <div class="h-30"></div>     
            <div class="pr-2 pl-28">commit 86b5f</div>
            <div class="pr-8 pull-left" [ngClass]="{'hide': hideMessage, 'show move-right-merge': !hideMessage}">commit 86b5f</div>
          </div>
          <div class="flex pr-2">
            <div class="pl-28">commit e34b2</div>
          </div>
        </div>
      </div>
    </section>
    <section class="flex direction-column text-left pr-16"> 
      <div class="pb-8 pl-16 bold text-center">main branch </div>
      <div class="flex">
        <div class="flex direction-column pt-32">
          <div class="flex align-center h-20">
            <div class="pr-4 pt-25" [ngClass]="{'hide': hideMessage, 'fade-in-arrow-2': !hideMessage}">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
            </div>         
            <div class="pr-2"></div>
          </div>
          <div class="flex pr-2 mt-8 align-center justify-center">
            <div class="pr-4" [ngClass]="{'fade-out-arrow-2': !hideMessage}">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
            </div>    
            <div class="">commit e34b2</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
