<div class="flex direction-column w-full align-center">
  <div class="flex direction-column align-center justify-center">
    <div class="blue h-change-28-48 pb-change-16-32">
      <div [ngClass]="{'hide': !hideMessage, 'show': hideMessage}">Example: the user has main branch checked out</div>
      <div class="flex direction-column pl-32 pr-32 max-w-450" [ngClass]="{'hide': hideMessage, 'show-slow-fadeIn text-center': !hideMessage}">
        The main branch is updated with the latest commits from the feature branch.
        (A merge conflict may need to be resolved.)
      </div>
    </div>
    <div class="flex">
      <button [disabled]="!hideMessage" (click)="visualizeMerge()" class="w-250" mat-raised-button color="warn">Visualize "git merge feature"</button>
      <div class="pr-8"></div>
    </div>
  </div>
 <div class="flex pt-32 w-full align-center justify-center"> 
    <section class="flex direction-column text-left pr-16"> 
      <div class="pb-8 pl-32 bold">feature branch </div>
      <div class="flex pr-48">
        <div class="flex direction-column">
          <div class="flex">
            <div class="font-size-32 pt-18 pl-4 mt-4 pr-2" [ngClass]="{'pull-up-pc': !sharedService.isMac}">&#10132;</div> <!--arrow right-->
            <div class="pr-2 pt-32">commit 86b5f</div>
            <div class="pr-8 pull-left pt-32" [ngClass]="{'hide': hideMessage, 'show move-right-merge': !hideMessage}">commit 86b5f</div>
          </div>
          <div class="flex pr-2">
            <div class="font-size-32 white">&#10132;</div> <!--arrow right-->
            <div class="mt-8 pl-4">commit e34b2</div>
          </div>
        </div>
      </div>
    </section>
    <section class="flex direction-column text-left"> 
      <div class="pb-8 bold pl-32 ml-4">main branch</div>
      <div class="flex pr-48">
        <div class="flex direction-column">
          <div class="flex">
            <div class="font-size-32 pt-18 mt-4 white" [ngClass]="{'pull-up-pc': !sharedService.isMac}">&#10132;</div> <!--arrow right-->
            <div class="white">commit 86b5f</div>
          </div>
          <div class="flex">
            <div class="font-size-32" [ngClass]="{'move-up': !hideMessage, 'pull-up-pc-2': !sharedService.isMac}">&#10132;</div> <!--arrow right-->
            <div class="pl-2 mt-8">commit e34b2</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
