<div class="flex direction-column w-full align-center">
  <div class="blue pt-8 h-change-28-48" >
    <div class="blue w-450 text-center" *ngIf="!hideMessage" [@myTrigger]="fadeIn"><span class="red bold pr-8">Red: <span class="black regular">in Working Area.</span> </span><span class="green bold">Green:<span class="black regular">  in Index.</span></span></div>
  </div>
  <div class="flex pt-8">
    <button [disabled]="!hideMessage" (click)="visualizeStatus()" class="w-250" mat-raised-button color="warn">Visualize "git status"</button>
    <div class="pr-8"></div>
  </div>
  <section class= "flex direction-column pl-change-status pt-16 w-half align-left" >
    <div [ngClass]="{
                    'green-bold pl-16': i == '1',
                    'pl-16': (i == '1' || i == '3'),
                    'red bold': i == '3'
                  }" 
                    class="pt-8 pb-8" *ngFor="let message of messages; let i = index" [@myTrigger]="fadeIn">{{message}}</div>
  </section>
</div>


