<section class= "flex direction-column align-center">
  <div class=" h-48 pl-16 pr-16 pb-16 text-center">
    <span class="blue" [ngClass]="{'hide': !hideMessage, 'show': hideMessage}">Example: A folder contains 3 files. No git repository exists.</span>
    <span class="green" [ngClass]="{'hide': hideMessage, 'show-fadeIn': !hideMessage}">
      A git repository is created (look for a hidden folder call .git).
      Git init only needs to be run once. </span>
   </div>
   <div class="flex">
    <button [disabled]="!hideMessage" (click)="visualizeInit()" class="w-250" mat-raised-button color="warn">Visualize "git init"</button>
    <div class="pr-16"></div>
    <button mat-fab [disabled]="!enableReload" (click)="ngOnInit()" mat-raised-button color="warn"><span>Reload</span></button>
    <div class="pr-8"></div>
  </div>
  <div class="flex pt-32 change-direction">
    <div class="order-switch-2 flex  direction-column height-change text-align"
         [ngClass]="{'bt-beige bb-beige bl-beige br-beige ': !hideMessage}">
      <div class="w-full min-w-150 background-black white" [ngClass]="{'hide': hideMessage, 'show-fadeIn': !hideMessage}">Working Area</div>
      <div class="pt-change">index.html</div>
      <div class="pt-4 ">index.js</div>
      <div class="pt-4 pb-change">index.css</div>
    </div>
    <div class="order-1 height-change text-align"
        [ngClass]="{'bt-beige bb-beige bl-beige br-beige ': !hideMessage}">
      <div class="w-full min-w-150 background-black white" [ngClass]="{'hide': hideMessage, 'show-fadeIn': !hideMessage}">Index</div>
    </div>
    <div class="order-switch-0 height-change text-align"
          [ngClass]="{'bt-beige bb-beige bl-beige br-beige ': !hideMessage}">
      <div class="w-full min-w-150 background-black white" [ngClass]="{'hide': hideMessage, 'show-fadeIn': !hideMessage}">Repository</div>
    </div>
  </div>
</section>