<div class="flex direction-column w-full align-center">
  <div class="blue pchange-branch h-28" >
    <div *ngIf="!hideMessage" [@myTrigger]="fadeIn">The asterisk (*) indicates the current branch</div>  
  </div>
  <div class="flex">
    <button [disabled]="!hideMessage" (click)="visualizeBranch()" class="w-250" mat-raised-button color="warn">Visualize "git branch"</button>
    <div class="pr-8"></div>
    <!-- <button mat-fab [disabled]="!showReset" (click)="reset()" mat-raised-button color="warn"><span>Reset</span></button> -->
  </div>

  <section class= "flex direction-column pt-16 w-quarter align-left" >
    <div [ngClass]="{'green': i == '1'}" class="pl-change pt-8 pb-8" *ngFor="let branch of branches; let i = index" [@myTrigger]="fadeIn">{{branch}}</div>
  </section>
</div>

