<div class="flex direction-column w-full align-center">
  <div class="blue pt-8 h-48" >
    <div *ngIf="!hideMessage" [@myTrigger]="fadeIn">The asterisk (*) indicates the current branch</div>  
  </div>
  <button [disabled]="!hideMessage" (click)="visualizeBranch()" class="w-250" mat-raised-button color="warn">Visualize "git branch"</button>
  <section class= "flex direction-column pt-16 w-quarter align-left" >
    <div [ngClass]="{'green': i == '1'}" class="pl-50 pt-8 pb-8 bold" *ngFor="let branch of branches; let i = index" [@myTrigger]="fadeIn">{{branch}}{{i}}</div>
  </section>
</div>

