<section class= "flex direction-column align-center">
  <div class="blue h-48">
   <div class="green" [ngClass]="{'hide': hideMessage, 'show': !hideMessage}">A snapshot of index.js is staged in the Index</div>
  </div>
  <div class="flex">
    <button [disabled]="!hideMessage" (click)="visualizeAdd()" class="w-250" mat-raised-button color="warn">Visualize "git add index.js"</button>
    <div class="pr-16"></div>
    <button mat-fab [disabled]="!enableReload" (click)="ngOnInit()" mat-raised-button color="warn"><span>Reload</span></button>
    <div class="pr-8"></div>
  </div>
  <div class="flex pt-32 change-direction">
    <div class="order-switch-2 flex  direction-column height-change bt-beige bb-beige bl-beige br-beige text-align">
  <div class="w-full min-w-150 background-black white">Working Area</div>
  <div class="pt-change">index.html</div>
    <div class="pt-4 ">index.js</div>
    <div class="pull-up green" [ngClass]="{'hide': hideMessage, 'show, move': !hideMessage}">index.js</div>
  <div class="pt-4 pb-change">index.css</div>
    </div>
    <div class="order-1 height-change bt-beige  bl-change bb-beige br-beige text-align"><div class="w-full min-w-150 background-black white">Index</div></div>
    <div class="order-switch-0 height-change bt-beige  bl-change bb-beige br-beige text-align"><div class="w-full min-w-150 background-black white">Repository</div></div>
  </div>
</section>