
.visGitApp {
    font-family: 'Roboto', sans-serif !important;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-48 {
    font-size: 48px;
}

.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.bold {
    font-weight: bold;;
}
.background-beige {
    background-color: #beaf98;
}

.background-red {
    background-color: #CD5C5C;
}
.background-gray {
    background-color: #BEBEBE;
}
.background-black {
    background-color: #000000;
}

.white {
    color: white;
}
.w-100 {
    width: 100px;
}

.min-w-150 {
    min-width: 150px;
}

.w-150 {
    width: 150px;
}
.w-250 {
    width: 250px;
}

.h-200 {
    height: 200px;
}

.text-align {
    text-align: center;
}

.br-beige {
    border-right: 2px solid #beaf98;
}
.bl-beige {
    border-left: 2px solid #beaf98;
}
.bt-beige {
    border-top: 2px solid #beaf98;
}
.bb-beige {
    border-bottom: 2px solid #beaf98;
}

.rectangle {
    width: 400px;
    height: 10px;
}
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.direction-column {
    flex-direction: column;
}

.pb-16 {
    padding-bottom: 16px;
}
.pb-32 {
    padding-bottom: 32px;
}
.pt-32 {
    padding-top: 32px;
}
.pt-4 {
    padding-top: 4px;
}

.w-full {
    width: 100%;
}

.order-1 {
    order: 1;
}

@media only screen and (min-device-width: 960px) {
    .image-size {
        width: 150px;
    }
    .pt-change {
        padding-top: 32px;
    }
    .pb-change {
        padding-bottom: 32px;
    }
    .order-switch-0 {
        order: 2;
    }

    .order-switch-2 {
        order: 0;
    }

 }


@media only screen and (max-device-width: 959px) {
    .image-size {
        width: 100px;
    }
    .change-direction {
        flex-direction: column;
        width: 50%;
    }

    .height-change {
        min-height: 100px;
    }

    .pt-change {
        padding-top: 16px;
    }

    .pb-change {
        padding-bottom: 16px;
    }

    .bl-change {
        border-left: 2px solid #beaf98;
    }

    .order-switch-0 {
        order: 0;
    }
    .order-switch-2 {
        order: 2;
    }

 }
