
.visGitApp {
    font-family: 'Roboto', sans-serif !important;
}

.font-size-12 {
    font-size: 12px;
}

.italics {
    font-style: italic;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-48 {
    font-size: 48px;
}
.h-48 {
    height: 48px;
}
.h-58 {
    height: 58px;
}
.mr-2 {
    margin-right: 2px;
}
.mr-4 {
    margin-right: 4px;
}
.ml-2 {
    margin-left: 2px;
}
.ml-4 {
    margin-left: 4px;
}
.ml-6 {
    margin-left: 6px;
}
.ml-8 {
    margin-left: 8px;
}
.mt-2 {
    margin-top: 2px;
}
.mt-4 {
    margin-top: 4px;
}
.mt-8 {
    margin-top: 8px;
}
.pb-36 {
    padding-bottom: 36px;
}
.pb-48 {
    padding-bottom: 48px;
}
.pl-2 {
    padding-left: 2px;
}
.pl-4 {
    padding-left: 4px;
}
.pl-8 {
    padding-left: 8px;
}
.pl-16 {
    padding-left: 16px;
}

.pl-24 {
    padding-left: 24px;
}
.pl-32 {
    padding-left: 32px;
}
.pl-48 {
    padding-left: 48px;
}
.pl-64 {
    padding-left: 64px;
}
.pl-92 {
    padding-left: 92px;
}
.pl-150 {
    padding-left: 350px;
}
.pr-2 {
    padding-right: 2px;
}

.pr-16 {
    padding-right: 16px;
}

.pt-8{
    padding-top: 8px;
}
.pt-48{
    padding-top: 48px;
}

.pt-52{
    padding-top: 52px;
}

.pt-64{
    padding-top: 64px;
}
.pt-72{
    padding-top: 72px;
}
.pt-76{
    padding-top: 76px;
}

.bold {
    font-weight: bold;;
}
.background-beige {
    background-color: #beaf98;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }

.red {
    color: #CD5C5C;
}

.green {
    color: green;
}

.indianRed{
    background-color: indianRed;
}

.seaGreen {
    background-color: darkseagreen;
}
.lightCoral {
    background-color: lightcoral;
}
.mediumPurple {
    background-color: mediumpurple;
}

.background-red {
    background-color: #CD5C5C;
}
.background-gray {
    background-color: #BEBEBE;
}
.background-black {
    background-color: #000000;
}
.gold {
    background-color: gold;
}

.white {
    color: white;
}
.w-100 {
    width: 100px;
}

.min-w-150 {
    min-width: 150px;
}
.min-w-250 {
    min-width: 250px;
}
.min-w-350 {
    min-width: 350px;
}
.w-150 {
    width: 150px;
}
.w-250 {
    width: 250px;
}

.h-200 {
    height: 200px;
}

.text-align, .text-center {
    text-align: center;
}

.blue {
    color: blue;
}


.br-beige {
    border-right: 2px solid #beaf98;
}
.bl-beige {
    border-left: 2px solid #beaf98;
}
.bt-beige {
    border-top: 2px solid #beaf98;
}
.bb-beige {
    border-bottom: 2px solid #beaf98;
}

.rectangle {
    width: 400px;
    height: 10px;
}
.flex, .show{
    display: flex;
}

.float {
    float: right;
}
.pull-up{
    margin-top: -20px;
}

.pull-up-image{
    margin-top: -178px;
}

.pull-left{
    margin-left: -120px;
}

.moveAndColor {
    animation: moveAndColor 2s linear;
    animation-fill-mode: forwards;

}
    @media only screen and (min-device-width: 960px) {
        @keyframes moveAndColor {
            0% {
                transform: translateX(0);
                color: green;
            }
            50% {
                transform: translateX(72.5px);
                color: green;
            }
            100% {
                transform: translateX(145px);
                color: black;
            }
        } 
    }

    @media only screen and (max-device-width: 959px) {
        @keyframes moveAndColor {
            0% {
                transform: translateY(0);
                color: green;
            }
            50% {
                transform: translateU(-50px);
                color: green;
            }
            100% {
                transform: translateY(-105px);
                color: black;
            }
        } 
    }

.show-fadeIn{
    animation: show-fadeIn 2s linear;
    animation-fill-mode: forwards;
}

.show-slow-fadeIn{
    animation: show-slow-fadeIn 4s linear;
    animation-fill-mode: forwards;
}

.move{
    animation: move 2s linear;
    animation-fill-mode: forwards;

}

.move-image {
    animation: move-image 2s linear;
    animation-fill-mode: forwards;
}
.move-left {
    animation: move-left 2s linear;
    animation-fill-mode: forwards;
}

.move-right {
    animation: move-right 2s linear;
    animation-fill-mode: forwards;
}

.move-up {
    animation: move-up 3s linear;
    animation-fill-mode: forwards;
}

@keyframes show-fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
@keyframes show-slow-fadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
    @media only screen and (min-device-width: 960px) {
        @keyframes move {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(72.5px);
            }
            100% {
                transform: translateX(158px);
            }
        } 
        @keyframes move-image {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(210px);
            }
        } 
        @keyframes move-left {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-390px);
            }
        } 
        @keyframes move-right {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(416px);
            }
        } 
        @keyframes move-up {
            0% {
                transform: translateY(0);
            }
            70% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-37px);
            }
        } 
    }

    @media only screen and (max-device-width: 959px) {
        @keyframes move {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateU(-50px)
            }
            100% {
                transform: translateY(-108px)
            }
        } 

        @keyframes move-image {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateU(-50px)
            }
            100% {
                transform: translateY(-108px)
            }
        } 
    }


.hide{
    display: none;
}

ul {
    list-style-type: none;
    margin: 30px 30px 0 0;
    padding: 0;
}

li {
    padding: 15px;
    width: 100%;
    background: #f1f1f1;
    margin-bottom: 2px;
    font-weight: bold;
}

.align-center {
    align-items: center;
}
.align-right {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.direction-column {
    flex-direction: column;
}

.pb-8 {
    padding-bottom: 8px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}

.pb-28 {
    padding-bottom: 28px;
}
.pb-32 {
    padding-bottom: 32px;
}

.pb-42 {
    padding-bottom: 42px;
}
.pt-32 {
    padding-top: 32px;
}

.pt-54 {
    padding-top: 54px;
}

.pt-64 {
    padding-top: 64px;
}

.pt-4 {
    padding-top: 4px;
}

.pr-8{
    padding-right: 8px;
}
.pr-16 {
    padding-right: 16px;
}

.pr-24 {
    padding-right: 24px;
}

.pr-48 {
    padding-right: 48px;
}
.pr-64 {
    padding-right: 64px;
}


.w-full {
    width: 100%;
}

.order-1 {
    order: 1;
}

@media only screen and (min-device-width: 960px) {
    .image-size {
        width: 150px;
    }
    .pt-change {
        padding-top: 32px;
    }
    .pb-change {
        padding-bottom: 32px;
    }

    .index_commit {
        padding-top: 52px;
    }
    .order-switch-0 {
        order: 2;
    }

    .order-switch-2 {
        order: 0;
    }

 }


@media only screen and (max-device-width: 959px) {
    .image-size {
        width: 100px;
    }
    .change-direction {
        flex-direction: column;
    }

    .height-change {
        min-height: 100px;
    }

    .pt-change {
        padding-top: 16px;
    }

    .pb-change {
        padding-bottom: 16px;
    }

    .bl-change {
        border-left: 2px solid #beaf98;
    }

    .index_commit {
        padding-top: 30px;
    }

    .order-switch-0 {
        order: 0;
    }
    .order-switch-2 {
        order: 2;
    }

 }
