
.visGitApp {
    font-family: 'Roboto', sans-serif !important;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-48 {
    font-size: 48px;
}
.h-48 {
    height: 48px;
}
.pl-4 {
    padding-left: 4px;
}
.pl-8 {
    padding-left: 8px;
}
.pl-16 {
    padding-left: 16px;
}

.pl-24 {
    padding-left: 24px;
}
.pl-32 {
    padding-left: 32px;
}
.pl-64 {
    padding-left: 64px;
}
.pr-16 {
    padding-right: 16px;
}

.pt-48{
    padding-top: 48px;
}

.pt-52{
    padding-top: 52px;
}

.bold {
    font-weight: bold;;
}
.background-beige {
    background-color: #beaf98;
}

.red {
    color: #CD5C5C;
}

.green {
    color: green;
}

.background-red {
    background-color: #CD5C5C;
}
.background-gray {
    background-color: #BEBEBE;
}
.background-black {
    background-color: #000000;
}

.white {
    color: white;
}
.w-100 {
    width: 100px;
}

.min-w-150 {
    min-width: 150px;
}

.w-150 {
    width: 150px;
}
.w-250 {
    width: 250px;
}

.h-200 {
    height: 200px;
}

.text-align, .text-center {
    text-align: center;
}

.blue {
    color: blue;
}


.br-beige {
    border-right: 2px solid #beaf98;
}
.bl-beige {
    border-left: 2px solid #beaf98;
}
.bt-beige {
    border-top: 2px solid #beaf98;
}
.bb-beige {
    border-bottom: 2px solid #beaf98;
}

.rectangle {
    width: 400px;
    height: 10px;
}
.flex, .show{
    display: flex;
}
.float {
    float: right;
}
.pull-up{
    margin-top: -20px;
}

.pull-up-image{
    margin-top: -135px;
}

.moveAndColor {
    animation: moveAndColor 2s linear;
    animation-fill-mode: forwards;

}
    @media only screen and (min-device-width: 960px) {
        @keyframes moveAndColor {
            0% {
                transform: translateX(0);
                color: green;
            }
            50% {
                transform: translateX(72.5px);
                color: green;
            }
            100% {
                transform: translateX(145px);
                color: black;
            }
        } 
    }

    @media only screen and (max-device-width: 959px) {
        @keyframes moveAndColor {
            0% {
                transform: translateY(0);
                color: green;
            }
            50% {
                transform: translateU(-50px);
                color: green;
            }
            100% {
                transform: translateY(-105px);
                color: black;
            }
        } 
    }


.move{
    animation: move 2s linear;
    animation-fill-mode: forwards;

}

.move-image {
    animation: move-image 2s linear;
    animation-fill-mode: forwards;

}
    @media only screen and (min-device-width: 960px) {
        @keyframes move {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(72.5px);
            }
            100% {
                transform: translateX(158px);
            }
        } 
        @keyframes move-image {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(210px);
            }
        } 
    }

    @media only screen and (max-device-width: 959px) {
        @keyframes move {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateU(-50px)
            }
            100% {
                transform: translateY(-108px)
            }
        } 

        @keyframes move-image {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateU(-50px)
            }
            100% {
                transform: translateY(-108px)
            }
        } 
    }


.hide{
    display: none;
}

ul {
    list-style-type: none;
    margin: 30px 30px 0 0;
    padding: 0;
}

li {
    padding: 15px;
    width: 100%;
    background: #f1f1f1;
    margin-bottom: 2px;
    font-weight: bold;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.direction-column {
    flex-direction: column;
}

.pb-16 {
    padding-bottom: 16px;
}
.pb-32 {
    padding-bottom: 32px;
}
.pt-32 {
    padding-top: 32px;
}

.pt-64 {
    padding-top: 64px;
}
.pt-4 {
    padding-top: 4px;
}

.w-full {
    width: 100%;
}

.order-1 {
    order: 1;
}

@media only screen and (min-device-width: 960px) {
    .image-size {
        width: 150px;
    }
    .pt-change {
        padding-top: 32px;
    }
    .pb-change {
        padding-bottom: 32px;
    }

    .index_commit {
        padding-top: 52px;
    }
    .order-switch-0 {
        order: 2;
    }

    .order-switch-2 {
        order: 0;
    }

 }


@media only screen and (max-device-width: 959px) {
    .image-size {
        width: 100px;
    }
    .change-direction {
        flex-direction: column;
    }

    .height-change {
        min-height: 100px;
    }

    .pt-change {
        padding-top: 16px;
    }

    .pb-change {
        padding-bottom: 16px;
    }

    .bl-change {
        border-left: 2px solid #beaf98;
    }

    .index_commit {
        padding-top: 30px;
    }

    .order-switch-0 {
        order: 0;
    }
    .order-switch-2 {
        order: 2;
    }

 }
