
.visGitApp {
    font-family: 'Roboto', sans-serif !important;
}

.image-size-icon {
    width: 50px;
}

.font-size-change {
    font-size: 22px;
}
.pl-change {
    padding-left: 50px;
}
.font-size-12 {
    font-size: 12px;
}

.mat-fab .mat-button-wrapper {
    line-height: 4px !important;
}

.italics {
    font-style: italic;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-48 {
    font-size: 48px;
}
.h-28 {
    height: 28px;
}

.h-38 {
    height: 38px;
}

.h-48 {
    height: 48px;
}
.h-58 {
    height: 58px;
}
.h-69 {
    height: 69px;
}
.mr-2 {
    margin-right: 2px;
}
.mr-4 {
    margin-right: 4px;
}
.ml-2 {
    margin-left: 2px;
}
.ml-4 {
    margin-left: 4px;
}
.ml-6 {
    margin-left: 6px;
}
.ml-8 {
    margin-left: 8px;
}
.mt-2 {
    margin-top: 2px;
}
.mt-4 {
    margin-top: 4px;
}
.mt-8 {
    margin-top: 8px;
}
.pb-36 {
    padding-bottom: 36px;
}
.pb-48 {
    padding-bottom: 48px;
}
.pl-2 {
    padding-left: 2px;
}
.pl-4 {
    padding-left: 4px;
}
.pl-8 {
    padding-left: 8px;
}
.pl-16 {
    padding-left: 16px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-24 {
    padding-left: 24px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-32 {
    padding-left: 32px;
}
.pl-34 {
    padding-left: 34px;
}
.pl-36 {
    padding-left: 36px;
}
.pl-46 {
    padding-left: 46px;
}
.pl-48 {
    padding-left: 48px;
}
.pl-50 {
    padding-left: 50px;
}
.pl-100 {
    padding-left: 100px;
}
.pl-150 {
    padding-left: 150px;
}
.pl-200 {
    padding-left: 200px;
}
.pl-250 {
    padding-left: 250px;
}
.pl-64 {
    padding-left: 64px;
}
.pl-92 {
    padding-left: 92px;
}
.pl-350 {
    padding-left: 350px;
}
.pr-2 {
    padding-right: 2px;
}
.pr-4 {
    padding-right: 4px;
}
.pr-8 {
    padding-right: 8px;
}
.pr-16 {
    padding-right: 16px;
}

.pt-8{
    padding-top: 8px;
}
.pt-16{
    padding-top: 16px;
}

.pt-18{
    padding-top: 18px;
}
.pt-48{
    padding-top: 48px;
}

.pt-52{
    padding-top: 52px;
}

.pt-64{
    padding-top: 64px;
}
.pt-72{
    padding-top: 72px;
}
.pt-76{
    padding-top: 76px;
}

.regular, .normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;;
}
.background-beige {
    background-color: #beaf98;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }

.red {
    color: #CD5C5C;
}

.black {
    color: black;
}

.green {
    color: green;
}

.indianRed{
    background-color: indianRed;
}

.seaGreen {
    background-color: darkseagreen;
}
.lightCoral {
    background-color: lightcoral;
}
.mediumPurple {
    background-color: mediumpurple;
}

.background-red {
    background-color: #CD5C5C;
}
.background-gray {
    background-color: #BEBEBE;
}
.background-black {
    background-color: #000000;
}
.gold {
    background-color: gold;
}


.white {
    color: white;
}
.w-100 {
    width: 100px;
    min-width: 100px;
}

.min-w-150 {
    min-width: 150px;
}
.min-w-250 {
    min-width: 250px;
}
.min-w-350 {
    min-width: 350px;
}
.w-150 {
    width: 150px;
}
.w-250 {
    width: 250px;
}

.w-300 {
    width: 300px;
}

.w-350 {
    width: 350px;
}


.w-450 {
    width: 450px;
}

.w-500 {
    width: 500px;
}

.w-600 {
    width: 600px;
}

.h-200 {
    height: 200px;
}

.text-align, .text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

.blue {
    color: blue;
}

.khaki {
    color: darkgreen;
}

.darkblue {
    color: darkblue;
}

.limegreen {
    color: #32CD32;
}

.darkred {
    color: darkred;
}

.br-beige {
    border-right: 2px solid #beaf98;
}
.bl-beige {
    border-left: 2px solid #beaf98;
}
.bt-beige {
    border-top: 2px solid #beaf98;
}
.bb-beige {
    border-bottom: 2px solid #beaf98;
}

.rectangle {
    width: 400px;
    height: 10px;
}
.flex, .show{
    display: flex;
}

.float {
    float: right;
}
.pull-up{
    margin-top: -20px;
}

.pull-up-image{
    margin-top: -178px;
}

.pull-left{
    margin-left: -120px;
}

.pull-left-24{
    margin-left: -24px !important;
}

.moveAndColor {
    animation: moveAndColor 2s linear;
    animation-fill-mode: forwards;

}
    @media only screen and (min-device-width: 960px) {
        .font-size-change {
            font-size: 36px;
        }
        .pv-change {
            padding-bottom: 32px;
            padding-top: 32px;
        }

        @keyframes moveAndColor {
            0% {
                transform: translateX(0);
                color: green;
            }
            50% {
                transform: translateX(72.5px);
                color: green;
            }
            100% {
                transform: translateX(145px);
                color: black;
            }
        } 
    }

    @media only screen and (max-device-width: 959px) and (orientation : portrait) {
        @keyframes moveAndColor {
            0% {
                transform: translateY(0);
                color: green;
            }
            50% {
                transform: translateU(-50px);
                color: green;
            }
            100% {
                transform: translateY(-105px);
                color: black;
            }
        } 
    }

.show-fadeIn{
    animation: show-fadeIn 2s linear;
    animation-fill-mode: forwards;
}

.show-slow-fadeIn{
    animation: show-slow-fadeIn 4s linear;
    animation-fill-mode: forwards;
}

.commit-fadeIn-1 {
    animation: commit-fadeIn-1 1s linear;
    animation-fill-mode: forwards;
}
.commit-fadeIn-2 {
    animation: commit-fadeIn-2 2s linear;
    animation-fill-mode: forwards;
}

.commit-fadeIn-3 {
    animation: commit-fadeIn-3 3s linear;
    animation-fill-mode: forwards;
}

.move{
    animation: move 2s linear;
    animation-fill-mode: forwards;

}

.move-image {
    animation: move-image 2s linear;
    animation-fill-mode: forwards;
}
.move-left {
    animation: move-left 2s linear;
    animation-fill-mode: forwards;
}

.move-left-from-working {
    animation: move-left-from-working 1s linear;
    animation-fill-mode: forwards;
}

.move-left-from-index {
    animation: move-left-from-index 1s linear;
    animation-fill-mode: forwards;
}
.move-left-from-index-2 {
    animation: move-left-from-index-2 1s linear;
    animation-fill-mode: forwards;
}

.move-right {
    animation: move-right 2s linear;
    animation-fill-mode: forwards;
}

.move-right-merge {
    animation: move-right-merge 2s linear;
    animation-fill-mode: forwards;
}
.move-right-fetch {
    animation: move-right-fetch 2s linear;
    animation-fill-mode: forwards;
}

.move-up {
    animation: move-up 3s linear;
    animation-fill-mode: forwards;
}

.move-up-fast {
    animation: move-up-fast .5s linear;
    animation-fill-mode: forwards;
}

.move-down-fast {
    animation: move-down-fast 2s linear;
    animation-fill-mode: forwards;
}

.move-down-one {
    animation: move-down-one .5s linear;
    animation-fill-mode: forwards;
}


.move-down-two {
    animation: move-down-two .5s linear;
    animation-fill-mode: forwards;
}

.move-down-three {
    animation: move-down-three .5s linear;
    animation-fill-mode: forwards;
}

.overwrite-index {
    animation: overwrite-index 1s linear;
    animation-fill-mode: forwards;
}

.overwrite-index1 {
    animation: overwrite-index1 1.5s linear;
    animation-fill-mode: forwards;
}

.overwrite-index2 {
    animation: overwrite-index2 1.5s linear;
    animation-fill-mode: forwards;
}
.overwrite-index3 {
    animation: overwrite-index3 1.5s linear;
    animation-fill-mode: forwards;
}

.headColorGreen {
    background-color: darkseagreen;
    animation: moveToWorkingArea 2s linear;
    animation-fill-mode: forwards;
}


.headColorRed {
    background-color: indianred;
    animation: moveToWorkingArea 2.5s linear;
    animation-fill-mode: forwards;
}

.headColorPurple {
    background-color: mediumpurple;
    animation: moveToWorkingArea 2.5s linear;
    animation-fill-mode: forwards;
}

.headColorGray {
    background-color: #BEBEBE;
    animation: moveToWorkingArea 2.5s linear;
    animation-fill-mode: forwards;
}

@keyframes moveToWorkingArea {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    70% {
        opacity: 0.3;
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(-152px);
    }
} 

@keyframes commit-fadeIn-1 {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 

@keyframes commit-fadeIn-2 {
    0% {
        opacity: 0;
        transform: translateY(160px);
    }
    32% {
        opacity: 0;
        transform: translateY(160px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 

@keyframes commit-fadeIn-3 {
    0% {
        opacity: 0;
        transform: translateY(180px);
    }
    42% {
        opacity: 0;
        transform: translateY(180px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 


@keyframes show-fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
@keyframes show-slow-fadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
    @media only screen and (min-device-width: 960px) {
        @keyframes move {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(72.5px);
            }
            100% {
                transform: translateX(158px);
            }
        } 
        @keyframes move-image {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(210px);
            }
        } 
        @keyframes move-left {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-390px);
            }
        } 
        @keyframes move-left-from-working {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-135px);
            }
        } 
        @keyframes move-left-from-index {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translate(-287px, 20px);
            }
        } 
        @keyframes move-left-from-index-2 {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translate(-287px, 40px);
            }
        } 
        @keyframes move-right {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(416px);
            }
        } 
        @keyframes move-right-fetch {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(330px);
            }
        } 
        @keyframes move-right-merge {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(220px);
            }
        } 
        @keyframes move-up {
            0% {
                transform: translateY(0);
            }
            70% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-37px);
            }
        } 

        @keyframes move-up-fast {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-35px);
            }
        } 

        @keyframes move-down-fast {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(75px);
            }
        } 

        @keyframes move-down-one {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(40px);
            }
        } 

        @keyframes move-down-two {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(80px);
            }
        } 
        @keyframes move-down-three {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(120px);
            }
        } 
        @keyframes overwrite-index {
            0% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-237px, -3px);
            }
        } 
        @keyframes overwrite-index1 {
            0% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-237px, -40px);
            }
        } 
        @keyframes overwrite-index2 {
            0% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-237px, -83px);
            }
        } 
        @keyframes overwrite-index3 {
            0% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-237px, -123px);
            }
        } 
    }

    @media only screen and (max-device-width: 959px) and (orientation : landscape)  {
        .pv-change {
            padding-bottom: 8px;
            padding-top: 8px;
        }
        .pl-change {
            padding-left: 50px;
        }
        @keyframes move {
            0% {
                transform: translateY(0)
            }
            100% {
                transform: translate(150px, 5px)
            }
        }
    }

    @media only screen and (max-device-width: 959px) and (orientation : portrait)  {
        @keyframes move {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateY(-50px)
            }
            100% {
                transform: translateY(-108px)
            }
        } 

        @keyframes move-image {
            0% {
                transform: translateY(0)
            }
            50% {
                transform: translateU(-50px)
            }
            100% {
                transform: translateY(-108px)
            }
        } 
    }


.hide{
    display: none;
}

ul {
    list-style-type: none;
    margin: 30px 30px 0 0;
    padding: 0;
}

li {
    padding: 15px;
    width: 100%;
    background: #f1f1f1;
    margin-bottom: 2px;
    font-weight: bold;
}

.align-center {
    align-items: center;
}
.align-left {
    align-items: flex-start;
}
.align-right {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.direction-column {
    flex-direction: column;
}

.pb-8 {
    padding-bottom: 8px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}

.pb-28 {
    padding-bottom: 28px;
}
.pb-32 {
    padding-bottom: 32px;
}

.pb-42 {
    padding-bottom: 42px;
}
.pt-32 {
    padding-top: 32px;
}

.pt-54 {
    padding-top: 54px;
}

.pt-64 {
    padding-top: 64px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-4 {
    padding-top: 4px;
}

.pr-8{
    padding-right: 8px;
}
.pr-16 {
    padding-right: 16px;
}

.pr-24 {
    padding-right: 24px;
}

.pr-48 {
    padding-right: 48px;
}
.pr-64 {
    padding-right: 64px;
}
.w-quarter {
    width: 25%;
}

.w-half {
    width: 50%;
}

.w-full {
    width: 100%;
}

.order-1 {
    order: 1;
}

@media only screen and (min-device-width: 960px) {
    .image-size-icon {
        width: 50px;
    }
    .image-size {
        width: 150px;
    }
    .pt-change {
        padding-top: 32px;
    }
    .pb-change {
        padding-bottom: 32px;
    }

    .index_commit {
        padding-top: 52px;
    }
    .order-switch-0 {
        order: 2;
    }

    .order-switch-2 {
        order: 0;
    }

    .order-switch-stash {
        order: -1;
    }

 }


@media only screen and (max-device-width: 959px)  and (orientation : portrait) {
    .image-size-icon {
        width: 30px;
    }
    .image-size {
        width: 100px;
    }
    .font-size-change {
        font-size: 22px;
    }

    .pv-change {
        padding-bottom: 16px;
        padding-top: 8px;
    }
    .pl-change {
        padding-left: 0px;
    }
    .change-direction {
        flex-direction: column;
    }

    .height-change {
        min-height: 100px;
    }

    .pt-change {
        padding-top: 16px;
    }

    .pb-change {
        padding-bottom: 16px;
    }

    .bl-change {
        border-left: 2px solid #beaf98;
    }

    .index_commit {
        padding-top: 30px;
    }

    .order-switch-0 {
        order: 0;
    }
    .order-switch-2 {
        order: 2;
    }

    .order-switch-stash {
        order: 3;
    }

 }
