<section class="visGitApp flex direction-column align-center"> 
  <div class="flex align-center justify-center pl-8 pv-change">
    <img class="image-size-icon" alt="Visual Git Logo" src="favicon.ico"/>
    <div class="font-size-change bold pl-16">Visualize Git</div>
  </div>
  <mat-form-field class="w-250" appearance="fill">
    <mat-label float="never">Choose a git command</mat-label>
    <mat-select (selectionChange)="selectCommand($event.value)">
      <mat-option *ngFor = "let command of commands" [value]="command.name"
      >{{command.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="chosenCommand !== '' && reset" (click)="reset()" mat-raised-button color="warn"><span>See {{chosenCommand}} Again</span></button>

  
  <visualize-add [someData]="chosenCommand" @fade *ngIf="chosenCommand === 'add'" class="flex w-full justify-center change-direction"></visualize-add>
  <visualize-branch @fade *ngIf="chosenCommand === 'branch'" class="flex w-full justify-center change-direction"></visualize-branch>
  <visualize-checkout @fade *ngIf="chosenCommand === 'checkout'" class="flex w-full justify-center change-direction"></visualize-checkout>
  <visualize-clone @fade *ngIf="chosenCommand === 'clone'" class="flex w-full justify-center change-direction"></visualize-clone>
  <visualize-commit @fade *ngIf="chosenCommand === 'commit'" class="flex w-full justify-center change-direction"></visualize-commit>
  <visualize-fetch @fade *ngIf="chosenCommand === 'fetch'" class="flex w-full justify-center change-direction"></visualize-fetch>
  <visualize-init @fade *ngIf="chosenCommand === 'init'" class="flex w-full justify-center change-direction"></visualize-init>
  <visualize-log @fade *ngIf="chosenCommand === 'log'" class="flex w-full justify-center change-direction"></visualize-log>
  <visualize-merge @fade *ngIf="chosenCommand === 'merge'" class="flex w-full justify-center change-direction"></visualize-merge>
  <visualize-pull @fade *ngIf="chosenCommand === 'pull'" class="flex w-full align-center justify-center change-direction"></visualize-pull>
  <visualize-push @fade *ngIf="chosenCommand === 'push'" class="flex w-full justify-center change-direction"></visualize-push>
  <visualize-reset @fade *ngIf="chosenCommand === 'reset'" class="flex w-full justify-center change-direction hide-in-portrait hide-in-landscape"></visualize-reset>
  <visualize-stash @fade *ngIf="chosenCommand === 'stash'" class="flex w-full justify-center change-direction"></visualize-stash>
  <visualize-status @fade *ngIf="chosenCommand === 'status'" class="flex w-full justify-center change-direction"></visualize-status>

</section>
