.image-size--clone {
    width: 128px;
}

.pull-up-image--clone {
    margin-top: -9.5rem;
}

.pt-change--clone {
    padding-top: 16px;
}


@media only screen and (max-device-width: 59.9375rem) and (orientation : landscape)  {
    .image-size--clone {
        width: 3.125rem;
        height: 5.125rem;
    }
    .pull-up-image--clone {
        margin-top: -4.9rem;
    }
    
}

@media only screen and (max-device-width: 59.9375rem) and (orientation : portrait) {
    .image-size--clone {
        width: 3.125rem;
        height: 5.125rem;
    }
    .pull-up-image--clone {
        margin-top: -5.1rem;
    }
}
