<div class="flex direction-column">
  <div class="flex direction-column align-center justify-center">
    <div class="blue h-change-28-48">
      <span [ngClass]="{'hide': hideMessage, 'show': !hideMessage}">The git repo is cloned on the user's computer</span>
    </div>
    <div class="flex flex-direction-change align-center">
      <button [disabled]="!hideMessage" (click)="visualizeClone()" class="w-250" mat-raised-button color="warn">Visualize "git clone url"</button>
      <div class="pr-8 pb-8"></div>
    </div>
  </div>
 <div class="flex pt-change--clone justify-center"> 
    <section class="flex direction-column text-center align-center"> 
      <div class="pb-8 font-change-14-16">Repository at url <br>(example: GitHub repo) </div>
      <img  class="image-size--clone"  src="assets/gitRepoGrayCropped.jpeg" alt="repository on GitHub">
      <img  class="image-size--clone pull-up-image--clone" [ngClass]="{'hide': hideMessage, 'show, move-image': !hideMessage}"  src="assets/gitRepoGrayCropped.jpeg" alt="repository on GitHub">
    </section>
    <section class="pl-64">
      <div class="font-change-14-16 pl-landscape-clone">User's Computer</div>
    </section>
  </div>
</div>
