.green-left-mac-pc {
    margin-left: -.2rem;
}
.adjust-mac-pc {
    margin-left: -1.7rem !important;
}
.adjust2-mac-pc {
    margin-left: -.1rem !important;
}

.pull-left-24--reset{
    margin-left: -1.5rem !important;
}

.overwrite-index-mac {
    animation: overwrite-index-mac .6s linear;
    animation-fill-mode: forwards;
}

.overwrite-index1-mac {
    animation: overwrite-index1-mac 1.5s linear;
    animation-fill-mode: forwards;
}

.overwrite-index2-mac {
    animation: overwrite-index2-mac 1.5s linear;
    animation-fill-mode: forwards;
}
.overwrite-index3-mac {
    animation: overwrite-index3-mac 1.5s linear;
    animation-fill-mode: forwards;
}


.overwrite-index-pc {
    animation: overwrite-index-pc 1s linear;
    animation-fill-mode: forwards;
}

.overwrite-index1-pc {
    animation: overwrite-index1-pc 1.5s linear;
    animation-fill-mode: forwards;
}

.overwrite-index2-pc {
    animation: overwrite-index2-pc 1.5s linear;
    animation-fill-mode: forwards;
}
.overwrite-index3-pc {
    animation: overwrite-index3-pc 1.5s linear;
    animation-fill-mode: forwards;
}


.headColorGreen-mac {
    background-color: darkseagreen;
    animation: moveToWorkingArea-mac 1.5s linear;
    animation-fill-mode: forwards;
}


.headColorRed-mac {
    background-color: indianred;
    animation: moveToWorkingArea-mac 2.5s linear;
    animation-fill-mode: forwards;
}

.headColorPurple-mac {
    background-color: mediumpurple;
    animation: moveToWorkingArea-mac 2.5s linear;
    animation-fill-mode: forwards;
}

.headColorGray-mac {
    background-color: #BEBEBE;
    animation: moveToWorkingArea-mac 2.5s linear;
    animation-fill-mode: forwards;
}


@keyframes moveToWorkingArea-mac {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    60% {
        opacity: 0.3;
        transform: translateX(0rem);
    }
    100% {
        opacity: 1;
        transform: translateX(-9.5rem);
    }
} 




@keyframes overwrite-index-mac {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-12.3rem, -.17rem);
    }
} 
@keyframes overwrite-index1-mac {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-12.3rem, -2.6rem);
    }
} 
@keyframes overwrite-index2-mac {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-12.2rem, -5.1rem);
    }
} 
@keyframes overwrite-index3-mac {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-12.2rem, -7.69rem);
    }
} 

@keyframes overwrite-index-pc {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-15.0625rem, -.1875rem);
    }
} 
@keyframes overwrite-index1-pc {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-4.81rem, -2.5rem);
    }
} 
@keyframes overwrite-index2-pc {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-4.81rem, -5.1875rem);
    }
} 
@keyframes overwrite-index3-pc {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-4.81rem, -.69rem);
    }
} 

@media only screen and (max-device-width: 59.9375rem) and (orientation : landscape)  {

@keyframes moveToWorkingArea-mac {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    60% {
        opacity: 0.3;
        transform: translateX(0rem);
    }
    100% {
        opacity: 1;
        transform: translateX(-9.5rem);
    }
} 
}

@media only screen and (max-device-width: 59.9375rem) and (orientation : portrait) {
    /* .pull-left-24--reset {
        animation: pull-left-24--reset 1s linear;
        animation-fill-mode: forwards;
    } */


@keyframes moveToWorkingArea-mac {
    0% {
        opacity: 0;
        transform: translateX(0);
    }
    60% {
        opacity: 0.3;
        transform: translateX(0rem);
    }
    100% {
        opacity: 1;
        transform: translateX(-5.1rem);
    }
} 
    @keyframes pull-left-24--reset {
        0% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }

    } 

    @keyframes overwrite-index-mac {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-9.3rem, -.17rem);
        }
    }

}