<div class="flex direction-column align-center">
  <div class="flex direction-column align-center justify-center">
    <div class="blue h-38 pb-16">
      <div [ngClass]="{'hide': !hideMessage, 'show': hideMessage}">Example: the user has main branch checked out</div>
      <div class="flex direction-column pl-32 pr-32 max-w-600 h-change-28-48 font-change-14-16" [ngClass]="{'hide': hideMessage, 'show-slow-fadeIn text-center': !hideMessage}">
        The remote main branch now points to the latest commit from the local main branch.
        It's advisable to do a pull before a push to a shared repo.
        When combining code with a push or a pull, merge conflicts may need to be resolved.
      </div>
    </div>
    <div class="flex align-center pt-32-in-portrait">
      <button [disabled]="!hideMessage" (click)="visualizePush()" class="w-250" mat-raised-button color="warn">Visualize "git push origin main"</button>
      <div class="pr-8"></div>
      <button mat-fab [disabled]="!showReset" (click)="reset()" mat-raised-button color="warn"><span>Reset</span></button>
    </div>
  </div>
  <div class="flex pt-32 align-center"> 
    <section class="flex direction-column text-center pr-64-except-portrait"> 
      <div class="pl-92-except-portrait flex-direction-change pb-16 pull-up-in-push">
        <div>Remote Repo</div>
        <div>main branch</div>
      </div>
      <div class="flex pr-48">
        <div class="flex direction-column">
          <div class="flex">
            <div class="font-size-32 pt-change-push-2 mt-change-push-3 pr-2 white"
                  [ngClass]="{'mt-change-push-2-mac': isMac, 'mt-change-push-2-pc': !isMac}">&#10132;</div> <!--arrow right-->
            <div class="pt-change-push pr-8 white ">86b5f</div>
          </div>
          <div class="flex">
            <div class="font-size-32 pr-2" 
            [ngClass]="{'move-up-push-mac': !hideMessage && isMac, 'move-up-push-pc': !hideMessage && !isMac,  
            'mt-change-push-4-mac': isMac, 'mt-change-push-4-pc': !isMac}">&#10132;</div> <!--arrow right-->
            <div class="mt-change-push-6 pr-8 mt-in-portrait mt-landscape">e34b2</div>
          </div>
        </div>

        <img  class="image-size--fetch"  src="assets/gitRepoGrayCropped.jpeg" alt="repository on GitHub">
      </div>
    </section>
    <section class="flex direction-column align-center text-center pr-64-except-portrait margin-in-landscape mt-in-portrait-2"> 
      <div class="pl-92-except-portrait flex-direction-change pb-16 pull-up-in-push-2">
        <div>Local Repo</div>
        <div>main branch</div>
      </div>
      <div class="flex pr-48"  >
        <div class="flex direction-column">
          <div class="flex">
            <div class="font-size-32 pt-change-push-2 pl-4 pr-2"
                [ngClass]="{'mt-change-push-2-mac': isMac, 'mt-change-push-2-pc': !isMac}">&#10132;</div> <!--arrow right-->
            <div class="pt-change-push pr-8">86b5f</div>
            <div class="pt-change-push pr-8" 
            [ngClass]="{'hide': hideMessage, 'show move-left-push': !hideMessage,
                        'pull-left-push-mac': isMac, 'pull-left-push-pc': !isMac}">86b5f</div>
          </div>
          <div class="flex pr-2">
            <div class="font-size-32 pr-2 white">&#10132;</div> <!--arrow right-->
            <div class="mt-change-push-0 pr-8 mt-in-portrait mt-landscape">e34b2</div>
          </div>
        </div>
        <img  class="image-size--fetch"  src="assets/gitRepoGrayCropped.jpeg" alt="repository on GitHub">
      </div>
    </section>
  </div>
</div>
