
.pt-change-push {
    padding-top: 4.75rem;
}
.pt-change-push-2 {
    padding-top: 4rem;
}

.mt-change-push {
    margin-top: 0rem;
}
.mt-change-push-2-mac {
    margin-top: .25rem;
}
.mt-change-push-2-pc {
    margin-top: -.2rem;
}

.mt-change-push-4-mac {
    margin-top: -0.45rem;
}
.mt-change-push-4-pc {
    margin-top: -0.85rem;
}

.move-left-push {
    animation: move-left-push .75s linear;
    animation-fill-mode: forwards;
}

.pull-left-push {
    margin-left: -7.2rem;
}


@media only screen and (min-device-width: 60rem) {
    @keyframes move-left-push {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-13.4375rem);
        }
    } 
}

@media only screen and (max-device-width: 59.9375rem) and (orientation : portrait) {
    .pt-change-push-2 {
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .pull-left-push{
        margin-left: -3rem;
    }

    @keyframes move-left-push {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-11rem);
        }
    } 
}