.h-full {
    height: 100%;
}
.gold {
    background-color: gold;
}

.background-orange {
    background-color: orange;
}

.h-36 {
    height: 36px;
    min-height: 36px;
}

.h-48 {
    height: 48px;
    min-height: 48px;
}

.border-beige{
    border: 2px solid #beaf98;
}

.br-beige{
    border-right: 2px solid #beaf98;
}

.pb-8-portrait {
    padding-bottom: 0; 
}

.w-24 {
    width: 24px;
}

.h-28 {
    height: 28px;;
}

.fade-to-green {
    animation: fade-to-green 2s linear;
    animation-fill-mode: forwards;
}

.fade-to-orange {
    animation: fade-to-orange 2s linear;
    animation-fill-mode: forwards;
}

.fade-to-red {
    animation: fade-to-red 2s linear;
    animation-fill-mode: forwards;
}
.fade-to-purple {
    animation: fade-to-purple 2s linear;
    animation-fill-mode: forwards;
}
.fade-to-gray {
    animation: fade-to-gray 2s linear;
    animation-fill-mode: forwards;
}
.stay-gold{
    background-color: gold;
}

.fade-in-index {
    animation: fade-in-arrow-2 5s linear;
    animation-fill-mode: forwards;
}
.fade-out-index {
    animation: fade-out-arrow-2 4s linear;
    animation-fill-mode: forwards;
}

.fade-out-arrow-2 {
    animation: fade-out-arrow-2 2s linear;
    animation-fill-mode: forwards;
}

.fade-in-arrow-2 {
    animation: fade-in-arrow-2 1s linear;
    animation-fill-mode: forwards;
}

@keyframes fade-to-green{
    0% {
        background-color: gold;
    }
    60% {
        background-color: gold;
    }
    100% {
        background-color: darkseagreen;
    }
} 

@keyframes fade-to-red{
    0% {
        background-color: gold;
    }
    60% {
        background-color: gold;
    }
    100% {
        background-color: indianred;
    }
} 

@keyframes fade-to-purple{
    0% {
        background-color: gold;
    }
    60% {
        background-color: gold;
    }
    100% {
        background-color: mediumpurple;
    }
} 

@keyframes fade-to-gray{
    0% {
        background-color: gold;
    }
    60% {
        background-color: gold;
    }
    100% {
        background-color: #BEBEBE;
    }
} 
@keyframes fade-to-orange{
    0% {
        background-color: gold;
    }
    60% {
        background-color: gold;
    }
    100% {
        background-color: orange;
    }
} 

@keyframes fade-out-arrow-2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} 

@keyframes fade-in-arrow-2 {
    0% {
        opacity: 0;
        color: white;
    }
    50% {
        opacity: 0;
        color: white;
    }

    100% {
        opacity: 1;
        color: black;
    }
} 

@media only screen and (max-device-width: 59.9375rem) and (orientation : landscape)  {
    .pb-8-portrait {
        padding-bottom: 0;
    }
}
@media only screen and (max-device-width: 59.9375rem) and (orientation : portrait) {
    .pb-8-portrait {
        padding-bottom: 8px;;
    }
}

