<section class= "flex direction-column align-center">
  <div class="h-48">
   <span class="blue font-16-14 pl-16 pr-16 text-center" [ngClass]="{'hide': !hideMessage, 'show': hideMessage}">git reset optionally moves the HEAD in the Repository and optionally overwrites the Index and Working Area</span>
  <div class="flex direction-column blue">
    <span [ngClass]="{'hide': hideMessage || headPointer() !== 'head1' }">Points to commit one place before HEAD</span>
    <span [ngClass]="{'hide': hideMessage || headPointer() !== 'head' }">Points to HEAD (default)</span>
    <span [ngClass]="{'hide': hideMessage || headPointer() !== 'head2' }">Points to commit two places before HEAD</span>
    <span [ngClass]="{'hide': hideMessage || headPointer() !== 'head3' }">Points to commit three places before HEAD</span>
    <span [ngClass]="{'hide': hideMessage || overwriteType() !== 'soft' }">Soft: no overwrites</span>
     <span [ngClass]="{'hide': hideMessage || overwriteType() !== 'mixed' }">Mixed (default): overwrite Index</span>
    <span [ngClass]="{'hide': hideMessage || overwriteType() !== 'hard' }">Hard: overwrite Index and Working Area</span>
  </div>
  </div>
  <div class="flex align-center justify-center">
    <mat-form-field class="w-40" appearance="fill">
      <mat-label float="never">Choose where to move HEAD</mat-label>
      <mat-select [disabled]="completed" (selectionChange)="selectCommit($event.value)">
        <mat-option *ngFor = "let commit of commits" [value]="commit.name"
        >{{commit.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="pr-8"></div>
    <mat-form-field class="w-40--reset" appearance="fill">
      <mat-label float="never">Choose overwrite option</mat-label>
      <mat-select [disabled]="completed" (selectionChange)="selectCommand($event.value)">
        <mat-option *ngFor = "let command of commands" [value]="command.name"
        >{{command.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex pb-32">
    <button [disabled]="completed || chosenCommand === '' || chosenCommit === ''" (click)="visualizeReset()" class="w-350--reset" mat-raised-button color="warn">Visualize "git reset<span *ngIf="chosenCommit !=='no parameter'"> {{chosenCommit}}</span><span *ngIf="chosenCommand !=='no parameter' && chosenCommand !==''"> --{{chosenCommand}}</span>"</button>
    <div class="pr-8"></div>
  </div>

  <div class="flex h-full border-beige ">
    <section class="br-beige">
      <div class="flex direction-column text-align">
        <div class="w-full min-w-150--reset background-black white">Working Area</div>
        <div class="flex align-center justify-center pt-8 mt-4 pb-32">
          <div class="dot " 
              [ngClass]="{'gold': initArrow || (!initArrow && overWriteType !== 'hard'),
                          'fade-to-green': !initArrow && copyHead() && overwriteType() === 'hard',
                          'fade-to-red': !initArrow && copyHead1() && overwriteType() === 'hard',
                          'fade-to-purple': !initArrow && copyHead2() && overwriteType() === 'hard',
                          'fade-to-gray': !initArrow && copyHead3() && overwriteType() === 'hard'}">
          </div>
        </div>
      </div>
    </section>
    <section class="br-beige">
      <div class="flex direction-column text-align">
        <div class="w-full min-w-150--reset background-black white">Index</div>
        <div class="flex align-center justify-center pt-8 mt-4">
          <div class="dot " 
              [ngClass]="{'gold': initArrow || softOverwrite(),
                          'fade-to-green': !initArrow && copyHead() && overwriteType() !== 'soft',
                          'fade-to-red': !initArrow && copyHead1() && overwriteType()  !== 'soft',
                          'fade-to-purple': !initArrow && copyHead2() && overwriteType()  !== 'soft',
                          'fade-to-gray': !initArrow && copyHead3() && overwriteType()  !== 'soft'}">
          </div>
        </div>
      </div>
    </section>
    <section class="">
      <div class="flex direction-column text-align">
        <div class="w-full min-w-150--reset background-black white">Repository</div>
        <div class="flex align-center justify-center pt-8 mt-4 h-36">
          <div class="pr-8 h-28" >
            <div class="w-24"></div>
            <img *ngIf="initArrow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
            <img [ngClass]="{'hide': (initArrow || headPointer() !== 'head'),'fade-in-arrow-2': (!initArrow && headPointer() === 'head')}"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
          </div> 
          <div class="head dot seaGreen"></div>
        </div>
        <div class="flex align-center justify-center pt-8 mt-4 h-36">
          <div class="pr-8">
            <div class="w-24"></div>
            <img [ngClass]="{'hide': (initArrow || headPointer() !== 'head1'),'fade-in-arrow-2': (!initArrow && headPointer() === 'head1')}"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
          </div> 
          <div class="head1 dot indianRed"></div>
        </div>
        <div class="flex align-center justify-center pt-8 mt-4 h-36">
          <div class="pr-8">
            <div class="w-24"></div>
            <img [ngClass]="{'hide': (initArrow || headPointer() !== 'head2'),'fade-in-arrow-2': (!initArrow && headPointer() === 'head2')}"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
          </div> 
          <div class="head2 dot mediumPurple"></div>
        </div>
        <div class="flex align-center justify-center pt-8 pb-8 mt-4 h-36">
          <div class="pr-8">
            <div class="w-24"></div>
            <img [ngClass]="{'hide': (initArrow || headPointer() !== 'head3'),'fade-in-arrow-2': (!initArrow && headPointer() === 'head3')}"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAjElEQVRIie3VPQ4BURiF4ScSetbANtiNtWitg42MXUw1vUYjrsYoZEhG7qk4ySm/++b7ybn8FdAmDbhhj1kKUB4+YZUEFJyxTQJ6H7FIAgparIcKug9FY33FDtMUoHeDZRLwPIDJmznXUMEl1UFsRINL/qb1UWdaA3DAvMbjr4BoVMTCLh7X8Q/nx3QHemGZLZvPo5wAAAAASUVORK5CYII=">
          </div> 
          <div class="head3 dot background-gray"></div>
        </div>
      </div>
    </section>
</div>



</section>