.w-message {
    height: 38px;
    width: auto;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

.image-size--fetch {
    width: 9.357rem;
}

.z-1 {
    z-index: 1;
}
.z-2 {
    z-index: 2;
}

.pr-special {
    padding-right: 8px;
}
.pull-left-fetch {
    margin-left: -72px;
}

.hide-portrait {
    display: flex;
}

.pl-16 {
    padding-left: 16px;
}
.pr-16 {
    padding-right: 16px;
}
.pt-16 {
    padding-top: 16px;
}
.pb-16 {
    padding-bottom: 16px;
}

.pr-16-landscape {
    padding-right: 8px;
}

.pt-feature {
    padding-top: 150px;
}

.padding-repo {
    padding-left: 0;
    padding-right: 32px;
}

.font-switch {
    font-size: 14px;
}

.font-16-12 {
    font-size: 16px;
}

.featureInfo {
    margin-right: 0;
}

.move-right-fetch {
    animation: move-right-fetch 1s linear;
    animation-fill-mode: forwards;
}
@keyframes move-right-fetch {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(15rem);
    }
} 


@media only screen and (max-device-width: 59.9375rem) and (orientation : landscape)  {
    .padding-repo {
        padding-left: 16px;
        padding-right: 16px;
    }
    .hide-portrait {
        display: flex;
    }

    .image-size--fetch {
        width: 3.125rem;
        height: 5.125rem;
    }

    .fetch-section--middle {
        width: 100px;
    }

    
    .pr-special {
        padding-right: 8px;
    }
    .featureInfo {
        margin-right: 5px;
    }

    .font-16-12 {
        font-size: 12px;
    }
    .pr-16-landscape {
        padding-right: 16px;
    }
    .pt-feature {
        padding-top: 70px;
    }
    .font-switch {
        font-size: 12px;
    }

    @keyframes move-right-fetch {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(8.3rem);
        }
    } 
    
}
@media only screen and (max-device-width: 59.9375rem) and (orientation : portrait) {

    .fetch-section {
        width: 90px;
    }

    .image-size--fetch {
        width: 3.125rem;
        height: 5.125rem;
    }

    .portrait-A-top {
        padding-right: 2px;
    }

    .padding-repo {
        padding-left: 2px;
        padding-right: 2px;
    }
    .pr-special {
        padding-right: 60px;
    }
    .featureInfo {
        margin-right: -5px;
    }

    .font-16-12 {
        font-size: 12px;
    }
    .hide-portrait {
        display: none;
    }
    .pr-16-landscape {
        padding-right: 60px;
    }
    
    .pt-feature {
        padding-top: 70px;
    }
    .font-switch {
        font-size: 12px;
    }
    @keyframes move-right-fetch {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(5.9rem);
        }
    } 
}