<div class="flex direction-column">
  <div class="flex direction-column align-center" >
    <div class="blue w-message">
        <div class="flex direction-column text-center" [ngClass]="{'hide': !hideMessage, 'show': hideMessage}">
          <div> Example: User 2 executes "get fetch"</div>
          <div class="white">All remote branches are fetched to the local repo and are now available for checkout. </div>
        </div>
        <div class="flex text-center" [ngClass]="{'hide': hideMessage, 'show-slow-fadeIn': !hideMessage}">
          <div>All remote branches are fetched to the local repo and are now available for checkout. </div>
        </div>
    </div>
    <div class="flex">
      <button [disabled]="!hideMessage" (click)="visualizeFetch()" class="w-250" mat-raised-button color="warn">Visualize "git fetch"</button>
      <div class="pr-8"></div>
    </div>
  </div>

  <div class="flex justify-center pt-32">
    <section class="flex direction-column padding-repo">
      <div class="flex">
        <div class="flex direction-column font-switch">
          <div class="pt-feature flex pr-8"><span class="hide-portrait pr-2">feature </span><span>A</span></div>
          <div class="flex white pr-8"><span class="hide-portrait pr-2">feature </span><span>B</span></div>
        </div>
        <div class="flex direction-column align-center">
        <div class="pb-16">Local Repo User 1</div>
          <img  class="image-size--fetch"  src="assets/gitRepoGrayCropped.jpeg" alt="repository on GitHub">
        </div>
      </div>
    </section>
    <section class="flex direction-column padding-repo" >
      <div class="flex">
        <div class="flex direction-column font-switch" [ngClass]="{'pr-16-landscape': !hideMessage}">
          <div class="pt-feature flex pr-8"><div class="hide-portrait pr-2">feature </div><div>A</div></div>
          <div class="flex pr-8"><div class="hide-portrait pr-2">feature </div><div>B</div></div>
        </div>
        <div class="flex direction-column font-switch pull-left-fetch" [ngClass]="{'hide': hideMessage, 'show move-right-fetch': !hideMessage}">
          <div class="pt-feature flex pr-8"><span class="hide-portrait pr-2">feature </span><span>A</span></div>
          <div class="flex pr-8"><span class="hide-portrait pr-2">feature </span><span>B</span></div>
        </div>
        <div class="flex direction-column align-center">
        <div class="pb-16">Remote Shared Repo</div>
          <img  class="image-size--fetch"  src="assets/gitRepoGrayCropped.jpeg" alt="repository on GitHub">
        </div>
      </div>
    </section>
    <section class="flex direction-column padding-repo">
      <div class="flex">
        <div class="flex direction-column font-switch">
          <div class="pt-feature flex white pr-8"><span class="hide-portrait pr-2">feature </span><span>A</span></div>
          <div class="pr-8 flex" [ngClass]="{'white': !hideMessage}">
            <span class="hide-portrait pr-2">feature </span><span>B</span></div>
        </div>
        <div class="flex direction-column align-center">
        <div class="pb-16">Local Repo User 2</div>
          <img  class="image-size--fetch"  src="assets/gitRepoGrayCropped.jpeg" alt="repository on GitHub">
        </div>
      </div>
    </section>
  </div>

</div>
